<section>
    <button class="button" onclick="subToken()">-</button>
    <input id="advToken" name="data.adversityTokens.value" type="number" value="{{data.adversityTokens.value}}"
        data-dtype="Number" />
    <button class="button" onclick="addToken()">+</button>
</section>